/* PARALLAX */
.parallax {
will-change: transform;
transition: transform 0.1s linear;
}

/* SCALE REVEAL */
.reveal-scale {
opacity: 0;
transform: scale(0.9) translateY(60px);
transition: all 1s cubic-bezier(0.2,0.9,0.3,1);
}

.reveal-scale.active {
opacity: 1;
transform: scale(1) translateY(0);
}

/* SECTION FADE */
.section-fade {
opacity: 0;
transform: translateY(80px);
transition: all 1.2s ease;
}

.section-fade.active {
opacity: 1;
transform: translateY(0);
}
